*{
    margin: 0;
    border: 0;
}
.tool-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   gap: 50px;
   background-color: bisque;
   height: 50px;
  width: 100vw;
}
#pencil{
    position: relative;
    cursor: pointer;
}
.pencil-width{
    width: 70px;
}
.pencil-tool{
    position: absolute;
    display:none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    left: -40px;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
}
.pencil-color-container{
  display: flex;
  gap: 5px;
}
.red{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}
.blue{
    width: 15px;
    height: 15px;
    background-color:blue;
    border-radius: 50%;
}
.black{
    width: 15px;
    height: 15px;
    background-color:black;
    border-radius: 50%;
}

#eraser{
  position: relative;
  cursor: pointer;
}
.eraser-tool{
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
}
.eraser-width{
    width: 70px;
}
.sticky-cont{
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
}
.header-cont{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f1f2f6;
}
.header-cont > * {
    height: 1.3rem;
    width: 1.3rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.minimize{
    background-color: green;
}
.remove{
    background-color: red;
}
.notes-cont{
    height: 13rem;
}
textarea{
    background-color: beige;
    height: 98%;
    width: 98%;
    resize: none;
    border: none;
    outline: none;
}

